[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
drift-python = "*"
flask = "*"
requests = "*"
textblob = "*"
"boto3" = "*"
plotly = "*"
pandas = "*"
chart-studio = "==1.0.0"

[dev-packages]

[requires]
python_version = "3.7"
